@import "Layout"
@import "Navigator"
@import "ActivityIndicator"
@import "LoadingView"
@import "Toast"
@import "Passport"
@import "SoftKeyboard"

.overflow-auto
  overflow: auto
  overflow-scrolling: touch

.flex-center
  display: flex
  flex: 1 0 auto
  align-items: center
  justify-content: center

